.login{
	overflow: hidden;
    display: inline-block;
    position: relative;
   margin-left: auto;
    margin-right: auto;
    clear: both;
    padding: 10px;
    min-width: 280px;
   max-width: 400px;
   height: auto;
   border: 1px solid #4086AA;
   text-align: center;
   background-color: #ffffff;
   border-radius: 10px;
    box-shadow: 16px 16px 16px 0px rgba(0,0,0,0.7);
}
body{
	background-image: url("./slike/3.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
    text-align: center;
}
.font{
	font: italic bold 12px/30px Georgia, serif;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 50%;
    background-color:  #274256;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#loginbtn {
    width: 50%;
    background-color:  #274256;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#register{
	width: 30%;
	color:  #274256;
    background-color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}