<!DOCTYPE html>
<html>
<head>
	<title>Life expenses</title>
	<meta charset="utf-8">
	<script src="./lifeExpenses.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="login.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>	
	<div style="text-align:center">
		<!--<h1><font size="15" face="impact" color="#ffffff">Life expenses</font></h1>-->
		<a href="login.html">
		<img alt="logo" src="./slike/logo1.png">
		</a>
	</div>
	<div class="login">
		<h2>Sign in</h2>
			<form action="/prijava" method="post">
				<input  type="text" required="required" name="userName" placeholder="Username"><br><br>
				<input type="password" required="required" name="password" placeholder ="Password"><br><br>
				
			<input id="loginbtn" type="submit" value="Log in"><br>
			<input id="register" type=button onClick="parent.location='/register'" value='Register'>
			</form>
	</div>
	

</body>
</html>