body{
	background-image: url("./slike/1.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	font-family: verdana;

}

.menu{
	overflow: hidden;
	display: inline-block;
}

.main{
	overflow: hidden;
	display: inline-block;
	border: 1px solid white;
	border-radius: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
	margin: 10px;
    background-color: #f1f1f1;
    width: 95%;
/*	float:left;
	margin: 10px;
	margin-right: 10px;
	padding: 10px;
	width: 90%;
	height: 100%
	position: relative;

	
	*/
}	
.goals{
	overflow: hidden;
	display: inline-block;
	/*float: left;
	margin: 10px;
	padding: 20px;
	width: 250px;
	border: 1px solid white;
	border-radius: 10px;
    background-color: #f1f1f1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
	*/
}
.levi{
	float: left;
	max-width: 300px;
	border: 1px solid white;
	padding: 10px;


}
.desni{
	float: left;
	width: 600px;
	border: 1px solid white;
}
.account{
	/*float: left;*/
	position: relative;
	margin: 20px;
	padding: 10px ;
	border-radius: 10px;
	width: 200px;
	background-color: #375e7b;
	color: white;
	text-align: center;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
	display: inline-block;
}
.account1{
	display: inline-block;
	position: relative;
	margin: 40px;
	padding: 10px ;
	border-radius: 10px;
	width: 400px;
	background-color: #375e7b;
	color: white;
	text-align: center;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}


.goal{
	/*float: left;*/
	position: relative;
	margin: 20px;
	padding: 10px ;
	border-radius: 10px;
	width: 200px;
	background-color: #555555;
	color: white;
	text-align: center;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
	display: inline-block;

	
}

.accbtn{
	background-color: #ffffff;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px #274256;
    border-radius: 5px;
    margin: 20px 0;
    width: 50%;
}

.acc-content{
	padding: 10px;
}

h4{
    text-decoration: underline;
}
/*
.menubtn {

    background-color: #ffffff;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px #274256;
    border-radius: 10px;
    margin: 30px;
}

.menu {
	float: left;
    position: relative;
    display: inline-block;
    z-index:10;
    width: 250px;

}

.menu-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-content a:hover {background-color: #375e7b; color: #ffffff}

.menu:hover .menu-content {
    display: block;
}

.menu:hover .menubtn {
    background-color: #274256;
    color: #ffffff;
}*/

ul {
	width: 95%;
    list-style-type: none;
    display: inline-block;
    /*width: 290px;
	height: 100%;
	
	
    */
    
    overflow: auto;
    margin: 10px;

    text-align: center;
    padding: 0px;
    background-color: #f1f1f1;
    
  
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

li a.active {
    background-color: #375e7b;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
    margin-right: 10px;
 }

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    margin: 10px;
}
th{
	background-color: #009933;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.formAccount{
	
	padding: 10px;
}

input{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.addbtn {
    width: 90%;
    background-color:  #274256;
    color: white;
    padding: 14px 20px;
    margin: 20px;
  
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}
/*

@media screen and (max-width: 680px) {
	.account{
		width: 100%;
		margin-left: 10px;
		margin-right: 10px;
	}

	.main{
		clear: both;
		width: 100%;
		height: auto;
	}
	.desni{
		padding-right: 10px;
		padding-left: 10px;

		width: 100%;

	}	
}*/

.skupno{
	
	margin-left: auto;
	margin-right: auto;
	clear: both;

}
[class*="col-"] {
    width: 100%;

}
@media only screen and (min-width: 534px) {
    /* For tablets: */

    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;text-align: center;}
}
@media only screen and (min-width: 890px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
.row {
    content: "";
    clear: both;
    display: block;
    text-align: center;
    margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	width: 95%;
}
[class*="col-"] {
	/*margin: 10px;
    
    float: left;
    padding: 15px;
*/
float: left;
    text-align: center;
}

.slika{
	width: 90%
}


.canvas{
    width: 100%;
    text-align: center;
}

.platno{
    border:1px solid #375e7b; 
    display: inline; 
    background: white;
    width: 90%;
    height: 90%;
    margin: 10px;
}